@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

@theme {
  --color-softBlue: hsl(231, 69%, 60%);
  --color-softRed: hsl(0, 94%, 66%);
  --color-grayishBlue: hsl(229, 8%, 60%);
  --color-veryDarkBlue: hsl(229, 31%, 21%);
  --font-sans: "Rubik", sans-serif;
}

body {
  overflow-x: hidden;
}
